<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OAuth2Callback</display-name>
    <servlet-name>OAuth2Callback</servlet-name>
    <servlet-class>servlet.OAuth2Callback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuth2Callback</servlet-name>
    <url-pattern>/OAuth2Callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDownload</display-name>
    <servlet-name>ServletDownload</servlet-name>
    <servlet-class>servlet.ServletDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDownload</servlet-name>
    <url-pattern>/ServletDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>sanpham.controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DangKyTVServlet</servlet-name>
    <servlet-class>servlet.DangKyTVServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKyTVServlet</servlet-name>
    <url-pattern>/DangKyTVServlet</url-pattern>
  </servlet-mapping>
</web-app>